* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #030405;
}

header {
    padding: 30px;
    margin-bottom: 175px;
    font-family:  'VT323', 'Pixelify Sans', sans-serif, monospace;
    background-color: #030405;
    color: #c6f8e8;
}

header h1 {
    float: inline-start;
    font-size: 50px;
}

header nav {
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
    font-size: 35px;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
    color: #c6f8e8;
    text-decoration: underline;
}

main {
    display: inline-block;
}

.container {
    display: grid;
    grid-template-columns: 450px 1fr;
    gap: 1px;
 }
aside {
    margin: 25px;
    min-height: 100px;
    max-height: 820px;
    justify-content: space-between;
    flex-direction: column;
    background-color: #0f1416;
    border: solid #69c2ff;
    border-radius: 35px;
    color:#c6f8e8;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
}

aside img {
    padding: 25px;
    max-height: 300px;
    border-radius: 500px;
    margin-top: -35%;
    margin-left: 12%;
}

aside h2 {
    margin-left: 20px;
    font-size: 36px;
}

aside h3 {
    margin: 20px;
    font-size: 26px;
}

aside p {
    padding: 10px;
    font-size: 20px;
    
}

section {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
    color:#c6f8e8;
}

section h2 {
    padding-left: 50px;
    padding-top: 15px;
    font-size: 60px;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
}

.projects {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    padding: 15px;
    height: 765px;
    width: 960px;
    border-radius: 35px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
    background-color: #0f1416;
}

.projects_item {
    width: 300px;
    height: 180px;
    border-radius: 35px;
    border-style: solid;
    border-color: #69c2ff;
}

.projects_feature {
    width: 930px;
    height: 540px;
    border-radius: 35px;
    border-style: solid;
    border-color: #69c2ff;
    position: relative;
    right: 945px;
    top: 195px;
}

figure footer {
    width: 160px;
    height: 25px;
    padding-left: 20px;
    padding-top: 5px;
    border-radius: 0px 35px 0px 35px;
    background: #69c2ff;
    color: #030405;
    position: relative;
    left: 2px;
    top: -31px;
    font-size: 17px;
}

.contact {
    position: relative;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
    background-color: #0f1416;
    margin: 25px;
    padding: 15px;
    height: 150px;
    width: 1375px;
    border-radius: 35px;
}

.contact ul li{
    display: inline-block;
    list-style: none;
    text-align: left;
    margin-top: 30px;
    margin-left: 80px;
    font-size: 45px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

#wip_text {
    color: #c6f8e8;
    font-size: 36px;
    font-family: 'VT323', 'Pixelify Sans', sans-serif, monospace;
    position: relative;
    left: -980px;
    top: 660px;
}
